@charset "utf-8";
.mid{
    height: 180vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.pt {
    width: 800px;
    height: 300px;
    box-shadow: 0 0 15px rgb(83, 103, 110);
    background: rgba(71, 142, 175, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    display: flex;
    overflow: hidden;
    margin-top: 80px;
    overflow: hidden;
    scroll-snap-align: start;
    transition: all 0.5s ease 0s;
}

.pt:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.lt {
    margin-left: 10%;
}

.rt {
    border-radius: 50%;
    margin-left: 40%;
}

.pt .txt {
    height: 310px;
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.pt .txt h2 {
    text-align: center;
    font-size: 3em;
    color: rgb(0, 163, 238);
    height: 30px;
    line-height: 100%;
}

.pt .txt p {
    margin-top: -2px;
    word-wrap: break-word;
    color: rgb(255, 0, 0);
}

@keyframes load {
    0% {
        background-position-y: 50px;
        opacity: 0;
    }

    100% {
        background-position-y: 0px;
        opacity: 1;
    }
}